<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <httpHandlers>
      <add verb="*" path="insert" type="WalletObjectsSample.Handlers.WobInsertHandler" />      
      <add verb="*" path="jwt" type="WalletObjectsSample.Handlers.WobGenerateJwtHandler" />       
      <add verb="*" path="webservice" type="WalletObjectsSample.Handlers.WobWebserviceHandler" />   
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="ServiceAccountId" value="409794708480@developer.gserviceaccount.com" />
    <add key="ServiceAccountPrivateKey" value="key.p12" />
    <add key="IssuerId" value="2952151495508328123" />
    <add key="ApplicationName" value="WobsSampleApp" />
  </appSettings>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.13.0" newVersion="4.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>